@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: Montserrat, sans-serif;
    background-color: #ffffff;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
}


/*NAV*/

.nav__logo{
    width: 100px;
}

.nav__menu{
    position: fixed;
    z-index: 999;
    margin: auto;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
}

.nav__center{
    background-color: #ffffff99;
    padding: 1rem 2rem;
    border-radius: 900px;
    border: solid 1.5px #2a2a2a;
}

.nav__menu ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

/*Pildora

.nav__link{
    display: inline-block;
    padding: .55rem 1.6rem;
    border-radius: 900px;
    color: #8b8b8b;
    font-weight: 500;
    text-decoration: none;
    transition: background .3s, color .3s;
}

.nav__link:hover{
    color: #000;
}

.nav__link.active{
    background: #00283a;
    color: #fff;
}

.nav__link.active:hover{
    color: #fff;
} */

.nav__menu ul li a{
    color: rgb(139, 139, 139);
    font-weight: 500;
    transition: all .5s ease;
}

.nav__menu ul li a:hover{
    color: black;
}

.nav__menu ul li:first-child{
    border-radius: 900px;
}

.btn{
    padding: .5rem 1.7rem;
    border-radius: 900px;
    text-transform: uppercase;
    background-color: #00aeef;
    font-family: Oswald;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    border: #00aeef 3px solid;
    transition: all .5s ease;
}

.btn:hover{
    background-color: #00aeef44;
}

.btn2{
    padding: .5rem 1.7rem;
    border-radius: 900px;
    text-transform: uppercase;
    background-color: #00aeef22;
    font-family: Oswald;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
    border: #00aeef 3px solid;
    transition: all .5s ease;
}

header .btn2{
    margin-left: 1rem;
}

.btn2:hover{
    background-color: #00aeef99;
}


/*HEADER*/

.container{
    position: relative;
    scroll-margin-top: 75px;
    padding: 2rem 5rem;
    height: 130vh;
    overflow: hidden;
    background-image: url(Img/Fondo.jpg);
    background-position: center 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

/*.background-img{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: auto;

}*/

header{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.content{
    margin-left: 18%;
    margin-bottom: 6%;
    position: relative;
    bottom: 110px;
}

.content h1{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 2rem;
    border-bottom: #00aeef 2px solid;
    display: inline-block;
}

.content h4{
    font-size: 70px;
    font-family: Oswald;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 75px;
    max-width: 550px;
    margin-bottom: 2rem;
}

.content p{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 15px;
    max-width: 550px;
    margin-bottom: 2rem;
}


/*Lentes*/

.container__lentes{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    height: 60vh;
}

.content__lentes{
    margin-left: 18%;
    margin-bottom: 30%;
    position: relative;
}

.content__lentes h4{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 2rem;
}

.content__lentes h2{
    font-size: 60px;
    font-family: Oswald;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 65px;
    max-width: 550px;
    margin-bottom: 2rem;
}

.content__lentes p{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 15px;
    max-width: 550px;
    margin-bottom: 2rem;
}


/*Modulos*/

.modulos__lentes{
    display: flex;
    justify-content: space-around;
}

.modulo1{
    width: 100px;
    height: 100px;
    background-color: black;
}

.modulo2{
    width: 100px;
    height: 100px;
    background-color: black;
}

.modulo3{
    width: 100px;
    height: 100px;
    background-color: black;
}

.modulo4{
    width: 100px;
    height: 100px;
    background-color: black;
}